.scroll_container {
    height: 30px;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    align-items: center;
    z-index: 1;
    bottom: 0;
}

.scroll_text {
    user-select: none;
    color: var(--color-text);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: scrolling-animation 15s linear infinite;
    -webkit-animation: scrolling-animation 15s linear infinite;
    animation: scrolling-animation 15s linear infinite;
}

@keyframes scrolling-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}