.homepage {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(51 51 51 / 0.5)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    background-size: 48px;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -2;
}

.presentation {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 30vw;
    background-color: black;
    padding: 16px;
    font-size: 1.5rem;
    position: relative;
}

.presentation:before {
    content:"";
    position: absolute;
    inset: -5px;
    z-index: -1;
    background: rgb(70,68,227);
    background: linear-gradient(60deg, rgba(70,68,227,1) 0%, rgba(0,255,85,1) 100%);
    filter: blur(10px);
}

.presentation h1 {
    margin: 12px;
    font-size: 3rem;
}

.presentation p {
    margin: 12px;
}

.presentation .socials {
    display: flex;
    margin-top: 12px;
    gap: 12px;
    margin-left: auto;
}